{% extends 'base.html' %}

{% block content %}
<style>
    @media only screen and (max-width: 950px) {
        #edit_user {
            width: 80% !important;
        }
    }

    @media only screen and (max-width: 800px) {
        #edit_user {
            width: 100% !important;
        }
    }
</style>
<div class="container py-4">
    <div id=edit_user class="card w-50 mx-auto">
        <div class="card-header">
            <h4 class="card-title">Edit User: {{current_user.username}}</h4>
        </div>
        <div class="card-body">
            <form class="form" role="form" action="{{ url_for('auth.change_password', user_id=form.user_id.data) }}"
                method="post">
                {{form.user_id()}}
                <div class="form-group">
                    {{form.password.label}}
                    {{form.password(class='form-control')}}
                    {% for error in form.errors.password %}
                    <small class="text-danger">{{error}}</small>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{form.new_password.label}}
                    {{form.new_password(class='form-control')}}
                    {% for error in form.errors.password %}
                    <small class="text-danger">{{error}}</small>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{form.password_confirmation.label}}
                    {{form.password_confirmation(class='form-control')}}
                    {% for error in form.errors.password_confirmation %}
                    <small class="text-danger">{{error}}</small>
                    {% endfor %}
                </div>
                {{form.submit(class='btn btn-primary', value="Save")}}
            </form>
        </div>
    </div>
</div>
{% endblock %}