{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="/static/css/jquery.dataTables.min.css">
<table id="theTable" class="table table-striped table-sm" cellspacing="0" width="100%">
    <thead class="black white-text bg-secondary">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Language</th>
            <th scope="col">Exam_Type</th>
            <th scope="col">Exam_Level</th>
            <th scope="col">Active</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for exam in exams %}
        <tr>
            <td><a href="{{ url_for('exam.edit_exam', exam_id=exam.id)}}">{{exam.name}}</a></td>
            <td>{{exam.lang.name}}</td>
            <td>{{exam.exam_type.name}}</td>
            <td>{{exam.exam_level.name}}</td>
            <td>{{exam.deleted}}</td>
            <td style="text-align: center;"><a href="{{ url_for('exam.delete_exam', exam_id=exam.id)}}"
                    class="user_delete_button btn-sm btn-outline-danger">&#10006</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div style="margin-top: 1%;">
    <a class="btn btn-primary" href="{{ url_for('exam.create_exam')}}">Create Code Exam Py</a>
    <a class="btn btn-primary" href="{{ url_for('exam.create_choise_exam')}}">Create Choise Exam Py</a>
    {% endblock %}
    {% block scripts %}
    <script>
        $(document).ready(function () {
            $('#theTable').DataTable();
        });
    </script>
    {% endblock %}