{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="/static/css/jquery.dataTables.min.css">
<div style="margin-top: 1%; margin-bottom: 1%; align-items: center;">
    <a class="btn btn-primary black white-text bg-secondary" href="{{ url_for('dashboard.list_of_exam')}}">Python</a>
    <a class="btn btn-primary black white-text bg-secondary" href="{{ url_for('dashboard.list_of_exam_java')}}">Java</a>
    <a class="btn btn-primary black white-text bg-secondary"
        href="{{ url_for('dashboard.list_of_exam_html')}}">HTML/CSS</a>
</div>
<table id="theTable" class="table table-striped table-sm" cellspacing="0" width="100%">
    <thead class="black white-text bg-secondary">
        <tr>
            <th scope="col">№</th>
            <th scope="col">Name</th>
            <th scope="col">Language</th>
            <th scope="col">Type</th>
            <th scope="col">Level</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for exam in exams %}
        <tr>
            <td>{{exam.id}}</td>
            <td><a href="{{ url_for('exam.edit_exam', exam_id=exam.id)}}">{{exam.name}}</a></td>
            <td>{{exam.lang.value}}</td>
            <td>{{exam.exam_type.name}}</td>
            <td>{{exam.exam_level.name}}</td>
            <td style="text-align: center;"><a href="{{ url_for('exam.delete_exam', exam_id=exam.id)}}"
                    class="exam_delete_button btn-sm btn-outline-danger">&#10006</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div style="margin-top: 1%;">
    <a class="btn btn-primary" href="{{ url_for('exam.create_exam')}}">Create code questions</a>
    <a class="btn btn-primary" href="{{ url_for('exam.create_choice_exam')}}">Create multiple choice questions</a>
    {% endblock %}
    {% block scripts %}
    <script>
        $(document).ready(function () {
            $('#theTable').DataTable()({
                "order": [[0, "desc"]]
            });
        });
    </script>
    {% endblock %}