{% extends 'base.html' %}

{% block scripts %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>


<script>
$(document).ready(function () {
    function update_exam_level(){
        switch($("#lang").val()) {
            case "html":
                $("#exam_level").empty();
                $('#exam_level').append('<option value="HTML, CSS, JS reg">HTML, CSS, JS reg</option>');
                $('#exam_level').append('<option value="HTML, CSS, JS prem">HTML, CSS, JS prem</option>');
                break;
            case "java":
                $("#exam_level").empty();
                $('#exam_level').append('<option value="Java Basics preg">Java Basics reg</option>');
                $('#exam_level').append('<option value="Java Basics prem">Java Basics prem</option>');
                // $('#exam_level').replaceWith('<option value="Java Basics prem" selected>Java Basics prem</option>');
                break;
            case "py":
                $("#exam_level").empty();
                $('#exam_level').append('<option value="Python Basics reg">Python Basics reg</option>');
                $('#exam_level').append('<option value="Python Basics prem">Python Basics prem</option>');
                $('#exam_level').append('<option value="Python Inter Prem">Python Inter Prem</option>');
                $('#exam_level').append('<option value="Python Basics prem">Python Basics prem</option>');
                $('#exam_level').append('<option value="Python adv">Python adv</option>');
                $('#exam_level').append('<option value="Python adv prem">Python adv prem</option>');
                break;
        }
    };


    $("#lang").change(e => {
        update_exam_level();
    });
    update_exam_level();

});
</script>

{% endblock %}

{% block content %}
<div class="container py-4">
    <form class="form" role="form" action="{{ post_action }}" method="post">
        <div class="form-group">
            {{form.name.label}}
            {{form.name(class='form-control')}}
        </div>
        <div class="form-group">
            {{form.lang.label}}
            {{form.lang(class='form-control')}}
        </div>
        <div class="form-group">
            {{form.exam_type.label}}
            {{form.exam_type(class='form-control')}}
        </div>
        <div class="form-group">
            {{form.exam_level.label}}
            {{form.exam_level(class='form-control')}}
        </div>
        <div class="form-group">
            {{form.instruction.label}}
            {{form.instruction(class='form-control', rows=5)}}
        </div>
        <div class="form-group">
            {{form.answer.label}}
            {{form.answer(class='form-control')}}
        </div>
        <div class="form-group">
            {{form.correct_answer.label}}
            {{form.correct_answer(class='form-control',  rows=1)}}
        </div>
        <div style="margin-top: 1%;">
            {{form.submit(class='btn btn-primary', value="Create")}}
        </div>
    </form>
</div>


{% endblock %}

