{% extends 'base.html' %}

{% block content %}
<div class="container py-4">
  <form class="form" role="form" action="{{ url_for('exam.exam_py', exam_id=form.exam_id.data) }}" method="post">
    {{form.exam_id}}
    {{form.name(class='form-control', readonly=True)}}
    <!-- </div> -->
    <div class="form-group">
      {{form.instruction(class='form-control', readonly=True, rows=instruction_height)}}
    </div>
    <div class="form-group">
      {{form.code.label}}
      {{form.code(class='form-control', rows=code_height)}}
      {% for error in form.errors.code %}
      <small class="text-danger">{{error}}</small>
      {% endfor %}
    </div>
    <button class="btn btn-primary " type="submit" name="submit" value="Go">Go</button>
    <button class="btn btn-primary " type="submit" name="submit" value="Next">Next</button>
    <a class="btn btn-primary" href="{{ url_for('exam.delete_exam', exam_id=form.exam_id.data)}}">Delete Exam</a>
    <a class="btn btn-primary" href="{{ url_for('exam.edit_exam', exam_id=form.exam_id.data)}}">Edit Exam</a>
  </form>
</div>
{% endblock %}