{% extends 'base.html' %} {% block content %}
<div class="container py-4">
  <form class="form" role="form" action="{{ url_for('exam.exam_html', exam_id=form.exam_id.data) }}" method="post">
    {{form.exam_id}}
    {% if current_user.is_exam_passed(form.exam_id.data) %}
    {{form.name(class='form-control is-valid', readonly=True)}}
    {% else %}
    {{form.name(class='form-control', readonly=True)}}
    {% endif %}
    <div class="form-group">
      {{form.instruction(class='form-control', readonly=True, rows=instruction_height)}}
    </div>
    <div class="form-group">
      {{form.code.label}}
      {{form.code(class='form-control', rows=code_height)}}
      <p><strong>Live Demo : </strong></p>
      <!-- codepen begin -->
      <div class="codepen" data-prefill data-height="400" data-theme-id="3" data-default-tab="html,result">
        {#{form.code(class='form-control', rows=code_height, data_lang="html")}#}
        <pre data-lang="html">{{form.code.data}}</pre>
      </div>
      <!-- codepen end -->
    </div>
    <script async src="http://assets.codepen.io/assets/embed/ei.js"></script>
    <button class="btn btn-primary " type="submit" name="submit" value="Prev">&lt;&lt;Back</button>
    {{form.submit(class='btn btn-primary')}}
    <a class="btn btn-primary" href="{{ url_for('exam.show_solution', exam_id=form.exam_id.data)}}">See answer</a>
    <button class="btn btn-primary " type="submit" name="submit" value="Next">Next&gt;&gt;</button>
    <button class="btn btn-primary " type="submit" name="submit" value="Skip">Skip question&gt;&gt;</button>
  </form>
</div>
{% endblock %}