{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="/static/css/jquery.dataTables.min.css">
{% if current_user.roles[0].name == "Admin" 
or current_user.roles[0].name == "Student_HTML_reg" 
or current_user.roles[0].name == "Student_HTML_prem" %}
<table style="margin-top: 2%; margin-left: 5%;" cellspacing="0" width="50%">
    <thead>
        <tr>
            <th scope="col">Question HTML, CSS, JS</th>
        </tr>
    </thead>
    <tbody style="margin-top: 5%;">
        {% for exam in exams %}
        <tr>
            <td><a href="{{ url_for('exam.exam_html', exam_id=exam.id) }}">
                    {%set exam_passed = current_user.is_exam_passed(exam.id)%}
                    {% if exam_passed is boolean %}
                    {% if exam_passed %}
                    &#9989;
                    {% else %}
                    &#10060;
                    {% endif %}
                    {% endif %}
                    {{exam.name}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% if current_user.roles[0].name == "Admin" 
or current_user.roles[0].name == "Student_HTML_prem_outsider" 
or current_user.roles[0].name == "Student_HTML_prem" %}
<table style="margin-top: 2%; margin-left: 5%;" cellspacing="0" width="50%">
    <thead>
        <tr>
            <th scope="col">Question HTML, CSS, JS Prem</th>
        </tr>
    </thead>
    <tbody style="margin-top: 5%;">
        {% for exam in exams_prem %}
        <tr>
            <td><a href="{{ url_for('exam.exam_html', exam_id=exam.id) }}">{%set exam_passed = current_user.is_exam_passed(exam.id)%}
                    {% if exam_passed is boolean %}
                    {% if exam_passed %}
                    &#9989;
                    {% else %}
                    &#10060;
                    {% endif %}
                    {% endif %}
                    {{exam.name}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}